/* Для входа */
#user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

#who{
    margin-left: 1%;
}

#otheruser{
    display: flex;
    justify-content: center;
}

#loginbutton{
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

#newPasword{
    margin-left: 10%;
}

#registration{
    margin-left: 10%;
}

/* Для регистрации пароля */

#createtext{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

#createinputs{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#createPasword{
    margin-right: 1%;
}

#createbuttons{
    display: flex;
    justify-content: center;
}

#gologin{
    margin-left: 1%;
}

/* Для профиля */

#headerprofile{
    display: flex;
    justify-content: space-between  ;
}

#profiletext{
    margin-bottom: 1%;
    display: flex;
}

#profiletext2{
    margin-left: 1%;
}

#role{
    display: flex;
    margin-bottom: 1%;
}

#roletext2{
    margin-left: 1%;
}

#balanse{
    display: flex;
    margin-bottom: 1%;
}

#balansetext2{
    margin-left: 1%;
}

#numbershop{
    display: flex;
    margin-bottom: 1%;
}

#numbershoptext2{
    margin-left: 1%;
}

#city{
    display: flex;
    margin-bottom: 1%;
}

#citytext2{
    margin-left: 1%;
}

#shopworkerstext{
    margin-bottom: 1%;
}