.modalregistration{
    width: 45vw;
    height: 40vh;
    background-color: #FFFDF5;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
    margin-left: -76.2vw;
    margin-top: -20.2vh;
    overflow: hidden;
    position: fixed;
}

.modalregistration_close {
    display: none;
}

#elipseregistration{
    width: 45vh;
    height: 45vh;
    border: solid 1px #514A7E;
    border-radius: 50%;
    font-size: 0;
    position: relative;
    left: 85%;
    top: 30%;
}

#otherregistration{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20%;
}

#formregistration{
    height: 35vh;
    width: 40vw;
    margin-top: -73%;
}

#closeregistration{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 2vw;
    height: 4vh;
    border: solid 1px #514A7E;
    background-color:#514A7E;
    border-radius: 50%;
}

.otherregistration{
    display: inline-block;
    float: left;
    margin-top: 3%;
}

#registrationtext{
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 88%;
}

.inputs{
    display: flex;
    width: 35vw;
}

.registrationinput{
    border: none;
    border-bottom: 1px solid #7D7D7D;
    background-color: #FFFDF5;
    margin-top: 5%;
    margin-right: 5%;
    width: 80%;
}

.registrationinput::placeholder{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 120%;
}

.inputcheckregistration{
    margin-top: 1vh;
    margin-bottom: 5vh;
}

.inputcheckregistrationtext{
    color: #7D7D7D;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 100;
    line-height: 120%;
}

.registrationbutton{
    display: flex;
}

#registrationsent{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #514A7E;
    background-color: #514A7E;
    height: 4vh;
    width: 7vw;
}

#registrationsenttext{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#registrationenter{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #514A7E;
    background-color: #FFFDF5;
    height: 4vh;
    width: 7vw;
    margin-left: 10%;
}

#registrationentertext{
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#arrow11{
    margin-left: 0.5vw;
}