.navbarHome {
    margin-left: 40px;
    display: flex;
    margin-top: 30vh;
}
.navbarHome h1{
    margin-left: 20px;
}

.navbarChat {
    margin-left: 40px;
    display: flex;
    margin-top: 4vh;
}
.navbarChat h1{
    margin-left: 20px;
}

.navbarContacts {
    margin-left: 40px;
    display: flex;
    margin-top: 4vh;
}
.navbarContacts h1{
    margin-left: 20px;
}

.navbarNotification {
    margin-left: 40px;
    display: flex;
    margin-top: 4vh;
}
.navbarNotification h1{
    margin-left: 20px;
}

.navbarCalendar {
    margin-left: 40px;
    display: flex;
    margin-top: 4vh;
}
.navbarCalendar h1{
    margin-left: 20px;
}

.navbarSettings {
    margin-left: 40px;
    display: flex;
    margin-top: 4vh;
}
.navbarSettings h1{
    margin-left: 20px;
}

.navbarLogout {
    margin-left: 40px;
    display: flex;
    margin-top: 30vh;
}
.navbarLogout h1{
    margin-left: 20px;
}