.body{
    padding-left: 13vh;
}

.Rectangle22{
    display: inline-block;
    float: left;
}

.Rectangle21{
    display: inline-block;
    float: right;
}

#Rectangle22{
    width: 30vh;
    height: 25vh;
}

#Rectangle21{
    width: 50vh;
    height: 45vh;
} 

.title{
    display: inline-block;
}

.text{
    display: inline-block;
    color: #7D7D7D;

font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 300;
line-height: 118%;
}

#text1{
    margin-top: 25vh;
    display: inline-block;
    color: #121212;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%
}

#text2{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    color: #514A7E;
    font-family: Bad Script;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 116.406%;
}

#none{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
