.Footer{
    background-color: #514A7E;
}

.textinform{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item{
    height: 1vh;
    width: 8vh;
}

.itemtext{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}