.bigelipse{
    width: 20vw;
    height: 40vh;
    border: solid 1px #514A7E;
    border-radius: 50%;
    font-size: 0;
    position: relative;
    left: 90%;
}

#bigelipse1{
    margin-top: -8%;
}

#bigelipse2{
    margin-top: -3%;
}

#bigelipse3{
    margin-top: -12%;
}

#purple{
    width: 10vw;
    height: 20vh;
    border: solid 1px #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    font-size: 0;
    position: relative;
    left: 95%;
    margin-top: -25%;
}