* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
    
form {
  background: linear-gradient(
  90deg,
  rgba(131, 58, 180, 1) 0%,
  rgba(253, 29, 29, 1) 50%,
  rgba(252, 176, 69, 1) 100%
  );
  padding: 40px 20px;
  color: white;
  text-align: center;
}
    
form:after {
  content: "";
  display: table;
  clear: both;
}
    
h1 {
  padding: 20px 0px;
  font-family: "Acme", sans-serif;
  letter-spacing: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(
  90deg,
  rgba(131, 58, 180, 1) 0%,
  rgba(253, 29, 29, 1) 50%,
  rgba(252, 176, 69, 1) 100%
  );
}
    
input:focus {
  outline: none !important;
}
    
input {
  width: 75%;
  margin: 0;
  padding: 10px;
  border: none;
  float: left;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    
#button {
  border-style: none;
  width: 25%;
  padding: 10px;
  margin: 0;
  background: DarkGrey;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  float: left;
}
    
#button:hover {
  background-color: Gray;
  color: AliceBlue;
}
    
ul div {
  position: relative;
  padding: 10px 10px 10px 20px;
  list-style-type: none;
  background: Teal;
  font-size: 15px;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
    
#delBtn {
  border-style: none;
  background: OldLace;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 5px 11px 5px;
}
    
#delBtn:hover {
  background-color: red;
}
    
#editBtn {
  border-style: none;
  background: AntiqueWhite;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 67px;
  top: 0;
  padding: 10px 5px 11px 5px;
}
    
#editBtn:hover {
  background-color: BlueViolet;
}
    
#doneBtn {
  border-style: none;
  background: LavenderBlush;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 180px;
  top: 0;
  padding: 10px 5px 11px 5px;
}
    
#doneBtn:hover {
  background-color: Aqua;
}
    