#HomePanel{
    background-color: #e9e9e9;
    width: 100vh;
    height: 100vh;
}

.home{
    color: black;
    text-decoration: none;
}

#Home{
    color: #0D1C2E;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 72.222% */
    letter-spacing: 0.36px;
    text-transform: capitalize;
}