@import url('https://fonts.cdnfonts.com/css/bad-script');

.QuestionsText{
    margin-top: 10%;
}

#questionstext1{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

#questionstext2{
    font-family: 'Bad Script', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #514A7E;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 27%;
}