#chatPanel{
    background-color: #e9e9e9;
    width: 187vh;
    height: 92.3vh;
    padding-top: 4%;
    display: block;
}

.chat{
    color: black;
    text-decoration: none;
}

#Chat{
    margin-left: 5%;
    float: left;
    color: #0D1C2E;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.36px;
    text-transform: capitalize;
}

#head{
    width: 100vh;
}

#newchat{
    margin-right: 5%;
    margin-bottom: 4%;
    float: right;
    height: 4vh;
    width: 15%;
    border-radius: 5px;
    border: none;
    background: linear-gradient(93deg, #7CB8F7 0%, #2A8BF2 100%);
    box-shadow: 10px 6px 25px 0px rgba(42, 139, 242, 0.15), 4px 4px 25px 0px rgba(42, 139, 242, 0.05), 6px 6px 25px 0px rgba(42, 139, 242, 0.15);
}

#newchattext{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

#search{
    display: flex;
    margin-top: 7%;
    margin-left: 35%;
    height: 5vh;
    width: 60%;
    border-radius: 6px;
    background: #FFF;
}

#searchchat{
    margin-left: 4.5%;
    border: none;
    width: 90%;
    outline: none;
}

#searchchat::placeholder{
    color: #707C97;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    text-transform: capitalize;
}

#chats_block {
    margin-left: 35%;
    margin-top: 4%;
}

#chat_item {
    background: #FFFFFF;
    width: 90%;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

#chat_item:hover {
    background: #7CB8F7;
}

#lastMessage{
    color: #707C97;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

#chatnames, #chatcreate{
    color: #0D1C2E;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

#opened_chat {
    width: 83vh;
    height: 89vh;
    background: #FFF;
    margin-top: -30vh;
    margin-left: 101vh;
}

#chatname{
    border-radius: 6px 6px 0px 0px;
    background: #FAFBFF;
    width: 83vh;    
    display: block;
    margin-bottom: 1vh;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
}

#chatnametext{
    color: #0D1C2E;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

#text{
    display: flex;
}

#message{
    border-radius: 0px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    background: linear-gradient(91deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 50px 0px rgba(42, 139, 242, 0.10), 15px 15px 35px 0px rgba(42, 139, 242, 0.05), 10px 10px 25px 0px rgba(42, 139, 242, 0.10);
    margin-bottom: 1vh;
    margin-left: 1%;
    margin-right: 40%;
    display: table;
}

#messagetext{
    color: #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 162.5% */
    text-transform: uppercase;
}

#send_btn{
    margin-top: 1vh;
    margin-right: 5%;
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(91deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 50px 0px rgba(42, 139, 242, 0.10), 15px 15px 35px 0px rgba(42, 139, 242, 0.05), 10px 10px 25px 0px rgba(42, 139, 242, 0.10);
}

#newmessage{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 32vh;
    border-top: 1px solid grey;
}

#newmessageinput{
    margin-top: 1vh;
    border: none;
    height: 3vh;
    margin-left: 5%;
    width: 80%;
}

#user_photo{
    width: 9%;
    height: 9%;
    border-radius: 50%;
    overflow: hidden;
}

#photoandtext{
    display: flex;
    margin-bottom: 1vh;
}

#nameanddate{
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

#namechat{
    margin-top: 1vh;
}

#chatphoto{
    width: 6.5%;
    height: 6.5%;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 5%;
}

#namechattext{
    margin-left: 1%;
    margin-top: 2%;
}

#uploadedImageContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#uploadedImageContainer img аччсссяяяяммм{
  max-width: 100%;
  max-height: 200px;
  border-radius: 10px;
}

#fileDropZone{
    margin-top: 1vh;
    margin-left: 1vh;
}

#chosephoto{
    margin-left: 1vh;
    margin-right: 1vh;
    width: 3vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(91deg, #60A9F6 0%, #2A8BF2 100%);
    box-shadow: 10px 10px 50px 0px rgba(42, 139, 242, 0.10), 15px 15px 35px 0px rgba(42, 139, 242, 0.05), 10px 10px 25px 0px rgba(42, 139, 242, 0.10);
}

#uploadedFiles{
    margin-top: 1.5vh;
}