.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #514A7E;
    margin-top: 10%;
    height: 35vh;
}

.footeritems{
    width: 170vh;
    height: 30vh;
    display: flex;
    justify-content: space-between;
}

.Footer{
    width: 30vh;
}

.footertext{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footeritem{
    margin-top: 3%;
}

.footeritemtext{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#LogoNeon{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10%;
}