@import url('https://fonts.cdnfonts.com/css/bad-script');

.sales{
    padding-left: 5vw;
    margin-top: 5%;
}

.salestext{
    margin-bottom: 3%;
}

#salestext1{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

#salestext2{
    font-family: 'Bad Script', sans-serif;
    font-style: italic;
    font-size: 40px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #514A7E;
    margin-left: 11%;
}

.salesitems{
    display: flex;
    justify-content: space-between;
}

#salesimage{
    height: 30vh;
    width: 12.5vw;
}

.prices{
    margin-bottom: 3%;
}

.price{
    display: inline-block;
    margin-left: 1vw;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: #7D7D7D;
    text-decoration-line: line-through;
}

.discauntprice{
    display: inline-block;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
}

.name_icons{
    height: 3vh;
}

.name{
    float: left;
    display: inline-block;
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.icons{
    float: right;
    display: inline-block;
}

#shoples{
    margin-left: 0.5vw;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    height: 4vh;
    width: 7.5vw;
    background-color: #FFFDF5;
    border: 0.5px solid #514A7E;
}

.details:hover{
    background-color: #514A7E;
    transition: background-color 0.4s;
}

.details:hover span {
    color: white;
}
    
.details:hover svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#details{
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#stars{
    float: right;
    margin-left: 5px;
    margin-top: 11%;
}

#arrow3{
    margin-left: 0.5vw;
}