.CardsCooperations{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.textes{
    height: 10vh;
    width: 16vh;
}

.textes1{
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 118%;
}

.textes2{
    color: #7D7D7D;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
}