.CardsCooperation{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.Items{
    height: 5vh;
    width: 20vh;
}

#img{
    margin-left: 30%;
}

.textes4{
    margin-top: 0;
    margin-bottom: 0;
}