.Cooperations{
    margin-top: 10%;
}

#cooperationstext1{
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 87.305%;
    margin-bottom: 0;
}

#cooperationstext2{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 118%;
    margin-top: 3%;
    margin-bottom: 3%;
}