.why{
    padding-left: 5vw;
    padding-right: 5vw;
    margin-top: -12%;
}

.whyarewe{
    width: 75vw;
    margin-top: 5%;
}

#whytext1{
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
}

.whytitle1 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.whytitle2 {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

#whytitle{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
}

#elipse1{
    width: 20px;
    height: 20px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-left: 83%;
    margin-top: -15%;
}

#elipse2{
    width: 40px;
    height: 40px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-left: 105%;
    margin-top: -35%;
}

#elipse3{
    width: 40px;
    height: 40px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-left: 90%;
    margin-top: -10%;
}

#elipse4{
    width: 20px;
    height: 20px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-left: 105%;
    margin-top: -25%;
}

#elipse5{
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 60px;
    height: 60px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-top: -4%;
}

#elipse6{
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 60px;
    height: 60px;
    border: solid #514A7E;
    background-color: #514A7E;
    border-radius: 50%;
    margin-top: -4%;
}

#arrow2{
    margin-top: -5%;
}