*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%,
                                     rgba(253,29,29,1) 50%,                
                                   rgba(252,176,69,1) 100%);
  padding: 40px 40px;
  color: white;
  text-align: center;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

h1{
  font-family: 'Acme', sans-serif;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

input:focus {outline:none!important;}

input{
  width: 75%;
  margin: 0;
  padding: 10px;
  border: none;
  float: left;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#addBtn{
  border-style: none;
  width: 25%;
  padding: 10px;
  margin: 0;
  background: DarkGrey;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  float: left;
}

#addBtn:hover{
  background-color: Gray;
  color: AliceBlue;
}

ul div{
  position: relative;
  padding: 10px 10px 10px 20px;
  list-style-type: none;
  background: DeepSkyBlue;
  font-size: 15px;
  transition: 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul div:nth-child(odd){
  background: Teal
}

#delBtn{
  border-style: none;
  background: OldLace;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 5px 11px 5px;
}

#delBtn:hover{
  background-color: red;
}

#editBtn{
  border-style: none;
  background: AntiqueWhite;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 67px;
  top: 0;
  padding: 12px 5px 11px 5px;
}

#editBtn:hover{
  background-color: BlueViolet;
}

#doneBtn{
  border-style: none;
  background: LavenderBlush;
  color: black;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  right: 180px;
  top: 0;
  padding: 12px 5px 11px 5px;
}

#doneBtn:hover{
  background-color: Aqua;
}
