* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

#header {
  background: #e4e5d2;
  margin-top: 0px;
  margin-bottom: 0px;
}

body {
  background: #ffebcd;
}

.one {
  padding: 30px 20px;
  text-align: center;
}
.one h1 {
  font-family: "Open Sans", sans-serif;
  position: relative;
  color: #5c2610;
  font-size: 3em;
  font-weight: normal;
  line-height: 1;
  padding: 10px 0;
  margin: 0;
  display: inline-block;
}
.one h1:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 120%;
  border-radius: 50%/30%;
  border: 6px solid #5c2610;
  border-left-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 420px) {
  .one h1 {
    font-size: 2em;
  }
}

.two {
  text-align: center;
  font-size: 25px;
  padding: 10px 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 2vh;
  width: 5vh;
  height: 3vh;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.button:hover:before {
  opacity: 1;
}

.button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 10px;
  background: #d8d8d8;
  font-size: 15px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 20px;
  margin-top: 10px;
}

.gotolist {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
  color: white;
  background: #5c2610;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
}

.gotolist:hover,
.gotolist:focus {
  transform: translateY(-10px);
}

#divnum {
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #ffebcd;
  position: absolute;
}

#span {
  font-size: 4vh;
}
