.modalaccauntrew{
    position: absolute;
    left: 82%;
    top: 11%;
    background: #FFFDF5;
    box-shadow: 0px 4px 20px 0px rgba(51, 51, 51, 0.05);
    width: 12.6vw;
    height: 23%;
}

.photoandbutton{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modalphoto{
    width: 2.5vw;
    height: 5vh;
    border: none;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.buttonaccaunt{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

#buttonaccaunt{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #514A7E;
    background-color: #514A7E;
    height: 3vh;
    width: 5vw;
}

.modalaccaunticons{
    margin-left: 10%;
    margin-top: 5%;
}

#modalaccaunticons{
    margin-top: 5%;
}

#modalaccaunticonstext{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    margin-left: 5%;
}