#buttonrew{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #514A7E;
    background-color: #514A7E;
    height: 3vh;
    width: 11vh;
}

#buttonText{
    color: #FFFDF5;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}