.ItemsRewiews{
    display: flex;
    justify-content: space-between;
}

.item{
    width: 50vh;
    height: 21vh;
    /* display: flex; */
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Photo{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10%;
    margin-left: 5%;
}

#image{
    width: 100%;
    height: 100%;
}

.Other{
    width: 28vh;
    height: 10vh;
    margin-top: 9%;
    margin-left: 10%;
}

#starss{
    margin-right: 5px;
}

.review{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
    margin-top: 0;
    margin-bottom: 0;
}

.dates{
    display: flex;
    justify-content: space-between;
}

.who{
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.date{
    color: #514A7E;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}