/* Для входа */
#user{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1%;
}

#who{
    margin-left: 1%;
}

#otheruser{
    display: flex;
    justify-content: center;
}

#loginbutton{
    display: flex;
    justify-content: center;
    margin-left: 5%;
}

#newPasword{
    margin-left: 10%;
}

#registration{
    margin-left: 10%;
}

/* Для регистрации пароля */

#createtext{
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

#createinputs{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#createPasword{
    margin-right: 1%;
}

#createbuttons{
    display: flex;
    justify-content: center;
}

#gologin{
    margin-left: 1%;
}

/* Для профиля */

#headerprofile{
    display: flex;
    justify-content: space-between  ;
}

#profiletext{
    margin-bottom: 1%;
    display: flex;
}

#profiletext2{
    margin-left: 1%;
}

#role{
    display: flex;
    margin-bottom: 1%;
}

#roletext2{
    margin-left: 1%;
}

#balanse{
    display: flex;
    margin-bottom: 1%;
}

#balansetext2{
    margin-left: 1%;
}

#numbershop{
    display: flex;
    margin-bottom: 1%;
}

#numbershoptext2{
    margin-left: 1%;
}

#city{
    display: flex;
    margin-bottom: 1%;
}

#citytext2{
    margin-left: 1%;
}

#shopworkerstext{
    margin-bottom: 1%;
}

#CheckReviews{
    margin-bottom: 1%;
}

/* Для окон */

#checkallshopstext{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#checkallshopstable{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#checkallshopsbutton{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#requesteslovertext{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#requestesloverother{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#requestesloverbuttons{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#requestesloverinput{
    width:25%
}

#closerequesteslover{
    margin-left: 1%;
}

#checkreviews1{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#checkreviews2{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewtable1{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewtable2{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewbutton1{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewbutton2{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewtable2{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#newshopstext{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#newshopsinputs{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#newshopsaddress{
    margin-right: 1%;
    width: 10%;
}

#GoToProfileShops{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#goprofilenewshops{
    margin-left: 1%;
}

#reviewstext{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#stars{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewstarsinput{
    margin-left: 1%;
}

#reveiw{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#reviewinput{
    height: 15vh;
    width: 25%;
    flex-wrap: wrap;
}

#GoToProfileReviews{
    display: flex;
    justify-content: center;
}

#goprofilereview{
    margin-left: 1%;
}

#commenttext{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#commenttexts{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#marks{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#commentmarksinput{
    margin-left: 1%;
}

#GoToProfileComment{
    display: flex;
    justify-content: center;
}

#goprofilecoment{
    margin-left: 1%;
}