@import url('https://fonts.cdnfonts.com/css/bad-script');

.main{
    height: 75vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.Rectangle{
    display: flex;
    justify-content: space-between;
}

.Rectangle21{
    margin-top: 0.5%;
}

#Rectangle22{
    width: 14vw;
    height: 25vh;
}

#Rectangle21{
    width: 26vw;
    height: 45vh;
}

.Hellotext{
    margin-top: -10%;
}

#hello1{
    font-family: Roboto;
    font-size: 60px;
    font-weight: 400;
    line-height: 70px;
    text-align: left;
}

#hello2{
    font-family: 'Bad Script', sans-serif;
    font-style: italic;
    font-size: 60px;
    font-weight: 300;
    line-height: 50px;
    text-align: left;
    color: #514A7E;
}

.Titletext{
    height: 10vh;
    margin-top: 2%;
}

#title1{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #7D7D7D;    
}

.Circle{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Circle{
    width: 10vw;
    height: 20vh;
    border: solid #514A7E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3%;
}

#Circle:hover{
    background-color: #514A7E;
    transition: background-color 0.4s;
}

#Circle:hover span {
    color: white;
}
    
#Circle:hover svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

#circle1{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    color: #514A7E; 
}

#arrow1{
    margin-top: 20%;
}