* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 40px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.div{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}


.buttons {
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size:  3vh;
}

.gotolist{
    margin-left: 10px;
    font-size: 20px;
}

#divnum{
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#span{
    font-size: 5vh;
}

.button {
    width: 8vh;
    height: 5vh;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button:hover:before {
    opacity: 1;
}

.button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}