h1{
    text-align: center;
}

h2{
    text-align: center;
}

a {
    text-decoration: none;
}

ul, li, ol {
    list-style-type: none;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button{
    margin-left: 5px;
    margin-right: 5px;
}